Package: sensorgnome-librtlsdr
Version: 0.6
Architecture: armhf
Section: misc
Priority: standard
Essential: no
Depends:
Homepage: https://github.com/sensorgnome/sensorgnome-librtlsdr
Maintainer: TvE (tvoneicken@gmail.com)
Description: Patched version of librtlsdr with SensorGnome enhancements.
